<!DOCTYPE html>

<html lang="ar">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/angular.min.js"></script>


    <script src="~/Scripts/AngController/controller.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-rtl.css" rel="stylesheet" />

    <link href="~/Content/fonts/Mystyle.css" rel="stylesheet" />


</head>
<body class="container">
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
        <div class="container">
            <div class="navbar-header  ">
                <button class=" navbar-toggle  collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>




                </button>


            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <img id="imag" src="~/Content/fonts/marocc.png">
                <ul class="nav navbar-nav navbar">

                    <li>
                        <a href="/My/postt">
                            <i class="btn btn-primary glyphicon glyphicon-pencil">

                            </i><i>
                                إضافة شخص
                            </i>
                        </a>
                    </li>
                    <li>
                        <a class="s" href="/My/gett">
                            <i class="btn btn-primary glyphicon glyphicon-search  ">

                            </i><i>البحث عن شخص</i>
                        </a>

                    </li>



                    <li>
                        <a>
                            <input type="text" class="form-control form-control-sm  "
                                   ng-model="fil" placeholder="ابحث عن شخص...">

                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-left  ">
                    <li>
                        <a href="#">
                            <i class="btn btn-primary glyphicon glyphicon-user">


                            </i><i>
                                تسجيل الخروج
                            </i>
                        </a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()



    <!--footer-->
   

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
